{% extends "index.html" %}

{% block title %} ConnecTTing Schools: About {% endblock %}


{% block navlinks %}

{% if user %}
<span class="navbar-text text-light" style="margin-right: 20px;">Welcome, {{user}}</span>
<a class="nav-link" aria-current="page" href="/home">Home</a>
<a class="nav-link active" href="#">About</a>
<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Databases </a>
<div class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
    <!-- <a class="dropdown-item" href="#">Your Projects</a> -->
    <a class="dropdown-item" href="/schools">School Listing</a>
</div>
<a class="nav-link" href="/logout">Log out</a>

{% else %}
<a class="nav-link" aria-current="page" href="/home">Home</a>
<a class="nav-link active" href="#">About</a>
<a class="nav-link disabled" href="#">Databases</a>
<a class="nav-link" href="/login">Log in</a>
{% endif %}

{% endblock %}


{% block body %}

<div class="text-center my-5"> <h1> About ConnecTTing School </h1> </div>

<div class="text-center my-5"> 
    <span> <h3> <i> Purpose </i> </h3> </span>
    <div class='row'>
        <div class="col-2"></div>
        <div class="col-8">
            <span> <h5> The aim of the ConnecTTing Schools web application is to provide users with a simple and convenient tool for deriving network solutions to provide schools thoughout Trinidad and Tobago with sustainable and affordable access to the Internet.</h5> </span>
        </div>
    </div>
</div>

<div class="text-center my-5"> 
    <span> <h3> <i> Features </i> </h3> </span>
    <div class='row'>
        <div class="col-2"></div>
        <div class="col-8">
            <span> <h5> This application features an interactive map to view schools, their configuration status, and the recommended connectivity parameters.  </li>

                     
        </div>
    </div>
</div>

<div class="text-center my-5"> 
    <span><h3> <i> Design Consideration and Assumptions </i> </h3> </span>
    <div class='row'>
        <div class="col-2"></div>
        <div class="col-8">
            <span> <h5> All users should be fully aware that this application makes some assumptions due to a lack of available information. Users should be guided accordingly. 1) The reference cellular coverage area is based on the locations of cell tower data and does not reflect actual coverage. 2) All numerical values provided were assumed and should be replaced with values more relevant to your circumstance.</h5> </span>
        </div>
    </div>
</div>

<div class="text-center my-5"> 
    <span><h3> <i>Project Motivation </i> </h3> </span>
    <div class='row'>
        <div class="col-2"></div>
        <div class="col-8">
            <span> <h5> This project is notivated from the work done by the Giga Project, a global inititive which seeks to provide Internet access to all schools around the world. </h5> </span>
        </div>
    </div>
</div>

{% endblock %}