{% extends "index.html" %}

{% block title %} ConnecTTing Schools: Last Mile Configuration {% endblock %}


{% block navlinks %}
{% if user %}
<span class="navbar-text text-light" style="margin-right: 20px;">Welcome, {{user}}</span>
{% else %}
<span class="navbar-text text-light" style="margin-right: 20px;">Welcome Unauthorized</span>
{% endif%}
<a class="nav-link" aria-current="page" href="/home">Home</a>
<a class="nav-link" href="/about">About</a>
<a class="nav-link dropdown-toggle active" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Databases </a>
<div class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
    <a class="dropdown-item" href="#">Your Projects</a>
    <a class="dropdown-item active" href="/schools">School Listing</a>
</div>
<a class="nav-link" href="/logout">Log out</a>
{% endblock %}


{% block body %}

<div class="text-center my-5"> <h1> Last Mile Parameters for {{ school }}</h1> </div>

<div class="container-fluid">
    <div class='row'>
        <div class="col-sm-8 offset-sm-2">
            <form action="" method="post" onsubmit="return submitForm()">
        
                <div class="mb-3">
                    <span><h5>Fibre Optic Cable Laying (FOCL)</h5></span>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th class='col-4' scope="col">Parameter</th>
                            <th class='col-6' scope="col">Description</th>
                            <th class='col-2' scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Length</td>
                            <td>The distance between the school and a local PoP</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_length' min="0" step="any" class="form-control" required> km
                                </div> 
                            </td>
                        </tr>

                    </tbody>
                </table>



                <div class="text-center">
                    <button id="subt_button_real" class="btn btn-primary mb-3">Submit Last Mile Paramters</button>
					<button id="subt_button_fake" class="btn btn-primary mb-3" disabled hidden>Please wait...</button>
                </div>
                <div class="text-center">
                    <a href="{{ url_for('.schoolListing') }}" class="btn btn-secondary mb-5">Return to School Listing without Saving</a>
                </div>
            
            </form>

        </div>
    </div>
</div>

<script>
    

function submitForm() {
	// disable save button to prevent double data entry
	document.getElementById('subt_button_real').hidden = true
	document.getElementById('subt_button_fake').hidden = false
}


</script>

{% endblock %}