{% extends "index.html" %}

{% block title %} ConnecTTing Schools: Last Mile Configuration {% endblock %}


{% block navlinks %}
{% if user %}
<span class="navbar-text text-light" style="margin-right: 20px;">Welcome, {{user}}</span>
{% else %}
<span class="navbar-text text-light" style="margin-right: 20px;">Welcome Unauthorized</span>
{% endif%}
<a class="nav-link" aria-current="page" href="/home">Home</a>
<a class="nav-link" href="/about">About</a>
<a class="nav-link dropdown-toggle active" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Databases </a>
<div class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
    <!-- <a class="dropdown-item" href="#">Your Projects</a> -->
    <a class="dropdown-item active" href="/schools">School Listing</a>
</div>
<a class="nav-link" href="/logout">Log out</a>
{% endblock %}


{% block body %}

<div class="text-center my-5"> <h1> Last Mile Parameters for {{ school }}</h1> </div>

<div class="container-fluid">
    <div class='row'>
        <div class="col-sm-8 offset-sm-2">
            <form action="" method="post" onsubmit="return submitForm()">
        
                <div class="mb-3">
                    <span><h5>Fibre Optic Cable Laying (FOCL)</h5></span>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th class='col-4' scope="col">Parameter</th>
                            <th class='col-6' scope="col">Description</th>
                            <th class='col-2' scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td># AOE Units (subscribers)</td>
                            <td>The number of AOE units needed to cover all subscribers in the territory</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_M_aoe_cover' min="0" step="any" class="form-control" value='{{param["Fiber Optic Cable"]["M_aoe_cover"]}}' required> units
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td># AOE Units (installations)</td>
                            <td>The number of locations for AOE installations </td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_M_aoe' min="0" step="any" class="form-control" value='{{param["Fiber Optic Cable"]["M_aoe"]}}' required> units
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>TEAP ports per AOE</td>
                            <td>The numebr of TEAP ports needed to connect one AOE</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_N_connect' min="0" step="any" class="form-control" value='{{param["Fiber Optic Cable"]["N_connect"]}}' required> units
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>AOEs per TEAP</td>
                            <td>The number of AOEs that can be connected to one TEAP</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_C_teap_aoe' min="0" step="any" class="form-control" value='{{param["Fiber Optic Cable"]["C_teap_aoe"]}}' required> units
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>Length of hanged-up cables of link for distribution and aggregation segments</td>
                            <td>--</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_length' min="0" step="any" class="form-control" value='{{param["Fiber Optic Cable"]["length"]}}' required> km
                                </div> 
                            </td>
                        </tr>
                        

                        <tr>
                            <td>Installation Labour Cost</td>
                            <td>The cost of installation work at all locations in this scenario</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_S_places_cost' min="0" step="any" class="form-control" value='{{param["Fiber Optic Cable"]["S_places_cost"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>Equipment Installation Cost</td>
                            <td>The cost of insalling and configuring active equipment</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_S_inst_equip' min="0" step="any" class="form-control" value='{{param["Fiber Optic Cable"]["S_inst_equip"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>Cable Installation Cost</td>
                            <td>The cost of installing cable ducts and cable infrustructure (if necessary)</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_S_cable' min="0" step="any" class="form-control" value='{{param["Fiber Optic Cable"]["S_cable"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>


                        <tr>
                            <td>Annual Potential Income from Channel Operation</td>
                            <td>This parameter is used to determine the total operating income after taxes</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_In' min="0" step="0.01" class="form-control" value='{{param["Fiber Optic Cable"]["In"]}}' required> $TTD/year
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Value-Added Tax Rate</td>
                            <td>The local VAT rate on goods and services in the country</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_T_vat' min="0" step="0.01" class="form-control" value='{{param["Fiber Optic Cable"]["T_vat"]}}' required> %
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Cost of Annual Operation</td>
                            <td>This paramter is used to determine the net opering profit after tax</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_S_operation' min="0" step="0.01" class="form-control" value='{{param["Fiber Optic Cable"]["S_operation"]}}' required> $TTD/year
                                </div> 
                            </td>
                        </tr>
        
        
                        <tr>
                            <td>Corporate Tax Rate</td>
                            <td>The local tax rate on chargable profit</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_T_prof' min="0" step="0.01" class="form-control" value='{{param["Fiber Optic Cable"]["T_prof"]}}' required> %
                                </div> 
                            </td>
                        </tr>
         
                        <tr>
                            <td>Total Cost of Equipment and Materials</td>
                            <td>This paramter is used in combination with the net operating profit to determine the annual cash flow</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_S_equip_mat' min="0" step="0.01" class="form-control" value='{{param["Fiber Optic Cable"]["S_equip_mat"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Average Lifetime of Equipment and Materials</td>
                            <td>The time period over which the FOCL equipment and materials will be maintained</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_T_lt' min="0" step="0.01" class="form-control" value='{{param["Fiber Optic Cable"]["T_lt"]}}' required> years
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Discount Rate</td>
                            <td>The rate used to determine the discounted cash flow</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_K_disc' min="0" step="0.01" class="form-control" value='{{param["Fiber Optic Cable"]["K_disc"]}}' required> %
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Total Investment Costs</td>
                            <td>The difference between the discounted cash flow anad investment costs is the net present value</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='focl_s_inv' min="0" step="0.01" class="form-control" value='{{param["Fiber Optic Cable"]["s_inv"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div class="mt-5">
                    <span><h5>Microwave (MW)</h5></span>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th class='col-4' scope="col">Parameter</th>
                            <th class='col-6' scope="col">Description</th>
                            <th class='col-2' scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td># AOE Units (subscribers)</td>
                            <td>The number of AOE units needed to cover all subscribers in the territory</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='mw_M_aoe_cover' min="0" step="any" class="form-control" value='{{param["Microwave"]["M_aoe_cover"]}}' required> units
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td># AOE Units (installations)</td>
                            <td>The number of locations for AOE installations </td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='mw_M_aoe' min="0" step="any" class="form-control" value='{{param["Microwave"]["M_aoe"]}}' required> units
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>TEAP ports per AOE</td>
                            <td>The numebr of TEAP ports needed to connect one AOE</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='mw_N_connect' min="0" step="any" class="form-control" value='{{param["Microwave"]["N_connect"]}}' required> units
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>AOEs per TEAP</td>
                            <td>The number of AOEs that can be connected to one TEAP</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='mw_C_teap_aoe' min="0" step="any" class="form-control" value='{{param["Microwave"]["C_teap_aoe"]}}' required> units
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>Length of hanged-up cables of link for distribution and aggregation segments</td>
                            <td>--</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='mw_length' min="0" step="any" class="form-control" value='{{param["Microwave"]["length"]}}' required> km
                                </div> 
                            </td>
                        </tr>
                        

                        <tr>
                            <td>Installation Labour Cost</td>
                            <td>The cost of installation work at all locations in this scenario</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='mw_S_places_cost' min="0" step="any" class="form-control" value='{{param["Microwave"]["S_places_cost"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>Equipment Installation Cost</td>
                            <td>The cost of insalling and configuring active equipment</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='mw_S_inst_equip' min="0" step="any" class="form-control" value='{{param["Microwave"]["S_inst_equip"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>Cable Installation Cost</td>
                            <td>The cost of installing cable ducts and cable infrustructure (if necessary)</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='mw_S_cable' min="0" step="any" class="form-control" value='{{param["Microwave"]["S_cable"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>Annual Potential Income from Channel Operation</td>
                            <td>This parameter is used to determine the total operating income after taxes</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='mw_In' min="0" step="0.01" class="form-control" value='{{param["Microwave"]["In"]}}' required> $TTD/year
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Value-Added Tax Rate</td>
                            <td>The local VAT rate on goods and services in the country</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='mw_T_vat' min="0" step="0.01" class="form-control" value='{{param["Microwave"]["T_vat"]}}' required> %
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Cost of Annual Operation</td>
                            <td>This paramter is used to determine the net opering profit after tax</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='mw_S_operation' min="0" step="0.01" class="form-control" value='{{param["Microwave"]["S_operation"]}}' required> $TTD/year
                                </div> 
                            </td>
                        </tr>
        
        
                        <tr>
                            <td>Corporate Tax Rate</td>
                            <td>The local tax rate on chargable profit</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='mw_T_prof' min="0" step="0.01" class="form-control" value='{{param["Microwave"]["T_prof"]}}' required> %
                                </div> 
                            </td>
                        </tr>
         
                        <tr>
                            <td>Total Cost of Equipment and Materials</td>
                            <td>This paramter is used in combination with the net operating profit to determine the annual cash flow</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='mw_S_equip_mat' min="0" step="0.01" class="form-control" value='{{param["Microwave"]["S_equip_mat"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Average Lifetime of Equipment and Materials</td>
                            <td>The time period over which the FOCL equipment and materials will be maintained</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='mw_T_lt' min="0" step="0.01" class="form-control" value='{{param["Microwave"]["T_lt"]}}' required> years
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Discount Rate</td>
                            <td>The rate used to determine the discounted cash flow</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='mw_K_disc' min="0" step="0.01" class="form-control" value='{{param["Microwave"]["K_disc"]}}' required> %
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Total Investment Costs</td>
                            <td>The difference between the discounted cash flow anad investment costs is the net present value</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='mw_s_inv' min="0" step="0.01" class="form-control" value='{{param["Microwave"]["s_inv"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div class="mt-5">
                    <span><h5>Satellite</h5></span>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th class='col-4' scope="col">Parameter</th>
                            <th class='col-6' scope="col">Description</th>
                            <th class='col-2' scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td># AOE Units (subscribers)</td>
                            <td>The number of AOE units needed to cover all subscribers in the territory</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='sat_M_aoe_cover' min="0" step="any" class="form-control" value='{{param["Satellite"]["M_aoe_cover"]}}' required> units
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td># AOE Units (installations)</td>
                            <td>The number of locations for AOE installations </td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='sat_M_aoe' min="0" step="any" class="form-control" value='{{param["Satellite"]["M_aoe"]}}' required> units
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>TEAP ports per AOE</td>
                            <td>The numebr of TEAP ports needed to connect one AOE</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='sat_N_connect' min="0" step="any" class="form-control" value='{{param["Satellite"]["N_connect"]}}' required> units
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>AOEs per TEAP</td>
                            <td>The number of AOEs that can be connected to one TEAP</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='sat_C_teap_aoe' min="0" step="any" class="form-control" value='{{param["Satellite"]["C_teap_aoe"]}}' required> units
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>Length of hanged-up cables of link for distribution and aggregation segments</td>
                            <td>--</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='sat_length' min="0" step="any" class="form-control" value='{{param["Satellite"]["length"]}}' required> km
                                </div> 
                            </td>
                        </tr>
                        

                        <tr>
                            <td>Installation Labour Cost</td>
                            <td>The cost of installation work at all locations in this scenario</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='sat_S_places_cost' min="0" step="any" class="form-control" value='{{param["Satellite"]["S_places_cost"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>Equipment Installation Cost</td>
                            <td>The cost of insalling and configuring active equipment</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='sat_S_inst_equip' min="0" step="any" class="form-control" value='{{param["Satellite"]["S_inst_equip"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>Cable Installation Cost</td>
                            <td>The cost of installing cable ducts and cable infrustructure (if necessary)</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='sat_S_cable' min="0" step="any" class="form-control" value='{{param["Satellite"]["S_cable"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>Annual Potential Income from Channel Operation</td>
                            <td>This parameter is used to determine the total operating income after taxes</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='sat_In' min="0" step="0.01" class="form-control" value='{{param["Satellite"]["In"]}}' required> $TTD/year
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Value-Added Tax Rate</td>
                            <td>The local VAT rate on goods and services in the country</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='sat_T_vat' min="0" step="0.01" class="form-control" value='{{param["Satellite"]["T_vat"]}}' required> %
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Cost of Annual Operation</td>
                            <td>This paramter is used to determine the net opering profit after tax</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='sat_S_operation' min="0" step="0.01" class="form-control" value='{{param["Satellite"]["S_operation"]}}' required> $TTD/year
                                </div> 
                            </td>
                        </tr>
        
        
                        <tr>
                            <td>Corporate Tax Rate</td>
                            <td>The local tax rate on chargable profit</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='sat_T_prof' min="0" step="0.01" class="form-control" value='{{param["Satellite"]["T_prof"]}}' required> %
                                </div> 
                            </td>
                        </tr>
         
                        <tr>
                            <td>Total Cost of Equipment and Materials</td>
                            <td>This paramter is used in combination with the net operating profit to determine the annual cash flow</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='sat_S_equip_mat' min="0" step="0.01" class="form-control" value='{{param["Satellite"]["S_equip_mat"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Average Lifetime of Equipment and Materials</td>
                            <td>The time period over which the FOCL equipment and materials will be maintained</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='sat_T_lt' min="0" step="0.01" class="form-control" value='{{param["Satellite"]["T_lt"]}}' required> years
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Discount Rate</td>
                            <td>The rate used to determine the discounted cash flow</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='sat_K_disc' min="0" step="0.01" class="form-control" value='{{param["Satellite"]["K_disc"]}}' required> %
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Total Investment Costs</td>
                            <td>The difference between the discounted cash flow anad investment costs is the net present value</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='sat_s_inv' min="0" step="0.01" class="form-control" value='{{param["Satellite"]["s_inv"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div class="mt-5">
                    <span><h5>Cellular</h5></span>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th class='col-4' scope="col">Parameter</th>
                            <th class='col-6' scope="col">Description</th>
                            <th class='col-2' scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td># AOE Units (subscribers)</td>
                            <td>The number of AOE units needed to cover all subscribers in the territory</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='cell_M_aoe_cover' min="0" step="any" class="form-control" value='{{param["Cellular"]["M_aoe_cover"]}}' required> units
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td># AOE Units (installations)</td>
                            <td>The number of locations for AOE installations </td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='cell_M_aoe' min="0" step="any" class="form-control" value='{{param["Cellular"]["M_aoe"]}}' required> units
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>TEAP ports per AOE</td>
                            <td>The numebr of TEAP ports needed to connect one AOE</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='cell_N_connect' min="0" step="any" class="form-control" value='{{param["Cellular"]["N_connect"]}}' required> units
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>AOEs per TEAP</td>
                            <td>The number of AOEs that can be connected to one TEAP</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='cell_C_teap_aoe' min="0" step="any" class="form-control" value='{{param["Cellular"]["C_teap_aoe"]}}' required> units
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>Length of hanged-up cables of link for distribution and aggregation segments</td>
                            <td>--</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='cell_length' min="0" step="any" class="form-control" value='{{param["Cellular"]["length"]}}' required> km
                                </div> 
                            </td>
                        </tr>
                        

                        <tr>
                            <td>Installation Labour Cost</td>
                            <td>The cost of installation work at all locations in this scenario</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='cell_S_places_cost' min="0" step="any" class="form-control" value='{{param["Cellular"]["S_places_cost"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>Equipment Installation Cost</td>
                            <td>The cost of insalling and configuring active equipment</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='cell_S_inst_equip' min="0" step="any" class="form-control" value='{{param["Cellular"]["S_inst_equip"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>Cable Installation Cost</td>
                            <td>The cost of installing cable ducts and cable infrustructure (if necessary)</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='cell_S_cable' min="0" step="any" class="form-control" value='{{param["Cellular"]["S_cable"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>

                        <tr>
                            <td>Annual Potential Income from Channel Operation</td>
                            <td>This parameter is used to determine the total operating income after taxes</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='cell_In' min="0" step="0.01" class="form-control" value='{{param["Cellular"]["In"]}}' required> $TTD/year
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Value-Added Tax Rate</td>
                            <td>The local VAT rate on goods and services in the country</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='cell_T_vat' min="0" step="0.01" class="form-control" value='{{param["Cellular"]["T_vat"]}}' required> %
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Cost of Annual Operation</td>
                            <td>This paramter is used to determine the net opering profit after tax</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='cell_S_operation' min="0" step="0.01" class="form-control" value='{{param["Cellular"]["S_operation"]}}' required> $TTD/year
                                </div> 
                            </td>
                        </tr>
        
        
                        <tr>
                            <td>Corporate Tax Rate</td>
                            <td>The local tax rate on chargable profit</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='cell_T_prof' min="0" step="0.01" class="form-control" value='{{param["Cellular"]["T_prof"]}}' required> %
                                </div> 
                            </td>
                        </tr>
         
                        <tr>
                            <td>Total Cost of Equipment and Materials</td>
                            <td>This paramter is used in combination with the net operating profit to determine the annual cash flow</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='cell_S_equip_mat' min="0" step="0.01" class="form-control" value='{{param["Cellular"]["S_equip_mat"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Average Lifetime of Equipment and Materials</td>
                            <td>The time period over which the FOCL equipment and materials will be maintained</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='cell_T_lt' min="0" step="0.01" class="form-control" value='{{param["Cellular"]["T_lt"]}}' required> years
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Discount Rate</td>
                            <td>The rate used to determine the discounted cash flow</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='cell_K_disc' min="0" step="0.01" class="form-control" value='{{param["Cellular"]["K_disc"]}}' required> %
                                </div> 
                            </td>
                        </tr>
        
                        <tr>
                            <td>Total Investment Costs</td>
                            <td>The difference between the discounted cash flow anad investment costs is the net present value</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style='align-items: center;'>
                                    <input type="number" name='cell_s_inv' min="0" step="0.01" class="form-control" value='{{param["Cellular"]["s_inv"]}}' required> $TTD
                                </div> 
                            </td>
                        </tr>

                    </tbody>
                </table>


                <div class="text-center">
                    <button id="subt_button_real" class="btn btn-primary mb-3">Submit Last Mile Paramters</button>
					<button id="subt_button_fake" class="btn btn-primary mb-3" disabled hidden>Please wait...</button>
                </div>
                <div class="text-center">
                    <a href="{{ url_for('.schoolListing') }}" class="btn btn-secondary mb-5">Return to School Listing without Saving</a>
                </div>
            
            </form>

        </div>
    </div>
</div>

<script>
    

function submitForm() {
	// disable save button to prevent double data entry
	document.getElementById('subt_button_real').hidden = true
	document.getElementById('subt_button_fake').hidden = false
}


</script>

{% endblock %}